.blog-list {
    box-shadow: 0 1px 2px #aaa;
    padding: 1px 16px;
}

.blog-list ul {
    background-color: #fff;
}


.blog-list li {
    border-bottom: 1px solid #eee;
    padding: 15px;
}


.blog-list .date {
    color: #8590a6;
    font-size: 14px;
}

.blog-list .title a {
    color: #394a58;
    max-width: 80%;
    font-family: "Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-serif;

}

.blog-list .read-num {
	color: #8590a6;
	font-size: 14px;
    cursor: pointer;
}




#banner {
    background: url(../../../static/images/banner.jpg) center center / cover no-repeat rgb(34, 34, 34);
}


#banner h3 {
    text-align: center;
    padding-top: 80px;
    font-size: 24px;
    margin-top: 0;
}


#banner .subject {
    padding: 10px 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
    color: #fff;
}


