.blog-list {
    box-shadow: 0 1px 2px #aaa;
    padding: 1px 16px;
}

.blog-list ul {
    background-color: #fff;
}


.blog-list li {
    border-bottom: 1px solid #eee;
    padding: 15px;
}


.blog-list .date {
    color: #8590a6;
    font-size: 14px;
}

.blog-list .title a {
    color: #394a58;
    max-width: 80%;

}

.blog-list .read-num {
	color: #8590a6;
	font-size: 14px;
}