.blog:not(:last-child) {
    border-bottom: 1px solid #edd;
    margin-bottom: 2em;
    /*padding-bottom: 1em;*/
}




.blog h3 {
    margin-top: 0.5em;
}


ul.blog-info-desc {
    margin: 0 0 2em 1em;
    color: #99a2aa;
}


ul.blog-info-desc li {
    display: inline-block;
    margin-right: 1em;
}


article {
    /*border: 1px solid #fde;*/
    /*border-radius: 1%;*/
    padding: 1em;
    margin-bottom: 2em;
    /*min-height: 400px;*/
}





/*点赞部分*/
.like {
    color: #337ab7;
    line-height: 200%;
    cursor: pointer;
    display: inline-block;
    margin-left: 0.6em;
}

.like .active {
    color: #f22;
}


/*菜单按钮*/

.menu-btn {
    position: fixed;
    /*z-index: 1000;*/
    margin: 1em;
    padding: 0;
    width: 80px;
    height: 35px;
    /* text-indent: 2.5em; */
    background: 0 0;
    top: 10px; 
    left: 10px;
    outline: 0;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    /* padding-right: 13px; */
    text-align: center;
}

/*文章标题*/
.article-title {
    background-color: #332;
    padding: 3.6em 12%;
    line-height: 100%;
    color: #fff;
    font-family: "Open Sans","Microsoft Jhenghei","Microsoft Yahei",sans-serif;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.banner {
    background-color: #33f;
    margin-top: -1%;
}