body {
    /*background-color: #f6f4f1;*/
    background: url(../images/body-bg.png) rgb(242, 240, 236);
    /*background: url(../images/bgi.jpg) center center / cover no-repeat rgb(34, 34, 34);*/
}

/*隐藏滚动条*/
body::-webkit-scrollbar { width: 0 !important }
body { -ms-overflow-style: none; }
body { overflow: -moz-scrollbars-none; }




a:hover {
    opacity: 0.78;
}


.container {
    max-width: 1000px;
}



#banner {
    background-color: #fff;
    margin: auto;
    height: 200px;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);*/
}



nav {
    /*background: url(../images/bg.jpg) center center / cover no-repeat rgb(34, 34, 34);*/
    background: url(../images/top-bg.png) 0 0 repeat-x;
    overflow: hidden;
}

nav ul a {
    color: #a78678;
}




/*回到顶部*/
#toTop {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 40px;
    right: 16px;
    line-height: 350%;
    background-color: pink;
    border-radius: 100%;
    text-align: center;
    
}

#toTop i {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: block;
}

#toTop:hover {
    background-color: #212529;
    cursor: pointer;
}

#toTop:hover > i{
    /*color: #d1a6b7;*/
}


main {
    min-height: 1000px;
}

footer > ul {
    width: 42%;
}


/*自定义标签样式*/
.chip {
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 0;
}

.chip a {
    color: #fff;
}

.chip:hover {
    background-color: #000;
}


#canvas {
    position: fixed;
    z-index: -999;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: auto; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; display: block;
}



/*三角形*/
.tri {
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #26a69a;
    margin-right: 3%;
}



.clearfix {
    clear: both;
}



#banner p {
    font-family: 宋体;
}



/*面包屑*/
.bread-crumb {
    /*padding: 15px;*/
    list-style-type: none;
    padding-left: 20px;
}


.bread-crumb li {
    display: inline-block;
    font-size: 13px;
}

.bread-crumb a {
    color: #394a58;
}

.bread-crumb>li+li:before {
    padding: 0 5px;
    color: #394a58;
    content: "/\00a0";
}



