body {
    /*background-color: #f4f4f4;*/
}



/*回到顶部*/
#toTop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 16px;
    line-height: 350%;
    background-color: #d1a6b7;
    border-radius: 10%;
    text-align: center;
    
}

#toTop i {
    color: #fff;
}

#toTop:hover {
    background-color: rgba(255,100,97,0.1);
    cursor: pointer;
}

#toTop:hover > i{
    color: #d1a6b7;
}


main {
    min-height: 1000px;
}

footer > ul {
    width: 30%;
}


/*自定义标签样式*/
.chip {
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 0;
}

.chip a {
    color: #fff;
}

.chip:hover {
    background-color: #000;
}