/*#container {
    margin: 0 auto;
    padding-bottom: 4em;
    height: 20em;
    max-width: 30em;
    min-width: 20em;
}*/


#mychart {
    margin-bottom: 20px;
}


/*友情链接*/
.friend-links {
}



/*tabs*/
.tab-content {
    background: #fff;
    width: 100%;
    overflow: hidden;

}

.the-tab {
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    background-color: #fff;
    margin-bottom: 20px;
}

.tabs {
    overflow-x: hidden;
}


/*统计*/
#mychart {
    width: 100%;
    height: 300px;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
}


/*关于*/
.about-web {
    min-height: 300px;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    background-color: #fff;
    margin-bottom: 20px;
}

.about-web img {
    display: block;
    margin: 0 auto;
    width: 40%;
    border: 4px solid #90CAF9;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    border-radius: 50%;
}

.about-web ul {
    padding-bottom: 8%;
}




/*右边侧栏*/



.tags-list {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    padding-bottom: 8px;
    font-size: 10px;
}


/*文章列表*/
.blog-list {
    background-color: #fff;
    margin: auto;
    /*margin-top: 2%;*/
    padding-top: 2%;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    font-family: Play;

}

.blog-list .content {
    color: #6f788b;
    /*min-height: 76px;*/
}





.blog-list .title {
    margin-bottom: 2%;
}

.blog-list .title a {
    color: #394a58;
    font-weight: bold;
    font-size: 16px;

}

.blog-list .title a:hover {
    color: #0f88eb;
}

.blog-list .desc {
    color: #8590a6;
    margin: 2% 0;
}


.blog-list li {
    border-bottom: 1px solid #eee;
    padding: 30px;
}





/*分页器*/
.pagination {
    clear: both;
    text-align: center;
    background-color: #fff;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 6%;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/
    margin-top: -20px;
}



.aside {
    margin-bottom: 9%;
    background-color: #fff;
    box-shadow: 0 1px 2px #aaa;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);*/

}

.aside .aside-title {
    padding-left: 20px;
    font-size: 16px;
    line-height: 3rem;
    border-bottom: 1px solid #e0e0e0;    
}


.collection {
    margin-top: 0;
    border: none;
}



#banner {
    background: url(../../static/images/sky.jpg) center center / cover no-repeat rgb(34, 34, 34);
    /*background: url(../../static/images/home_bg.jpg) center center / cover no-repeat rgb(34, 34, 34);*/
}