#container {
    margin: 0 auto;
    padding-bottom: 4em;
    height: 20em;
    max-width: 30em;
    min-width: 20em;
}





/*友情链接*/
.friend-links {
}



/*tabs*/
.tab-content {
    background: #fff;
    width: 100%;
    overflow: hidden;

}

.the-tab {
    min-height: 300px;
    max-height: 300px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #fff;
}

.tabs {
    overflow-x: hidden;
}


/*统计*/
#mychart {
    width: 100%;
    height: 300px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


/*关于*/
.about-web {
    min-height: 300px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #fff;
}

.about-web img {
    display: block;
    margin: 0 auto;
    width: 40%;
    border: 4px solid #90CAF9;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.about-web ul {
    padding-bottom: 8%;
}




