@font-face{
	font-family:"yuaoicon";
	src:url('//at.alicdn.com/t/font_hr9xi425qg0ysyvi.eot?t=1497109172831');
	src:url('//at.alicdn.com/t/font_hr9xi425qg0ysyvi.eot?t=1497109172831#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_hr9xi425qg0ysyvi.woff?t=1497109172831') format('woff'),
	url('//at.alicdn.com/t/font_hr9xi425qg0ysyvi.ttf?t=1497109172831') format('truetype'),
	url('//at.alicdn.com/t/font_hr9xi425qg0ysyvi.svg?t=1497109172831#yuaoicon') format('svg')
}



.yuaoicon {
    position: relative;
    top: 2px;
    left: 0;
    margin: 0 2px 0 0;
    color: inherit;
}

.yuaoicon{
	font-family:"yuaoicon" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}

.icon-tongji:before{

	content:"\e601"
}

.icon-download:before{

	content:"\e680"
}

.icon-admin1:before{

	content:"\e647"
}
.icon-totop:before{
	content:"\e617"
}

.icon-caidan:before{
	content:"\e625"
}

.icon-send:before{
	content:"\e600"
}

.icon-share:before{
	content:"\e861"
}

.icon-biaoqing:before{
	content:"\e637"
}

.icon-admin2:before{
	content:"\e6f7"
}

.icon-tags:before{
	content:"\e883"
}

.icon-friend:before{
	content:"\e615"
}

.icon-title:before{
	content:"\e69c"
}

.icon-sofa:before{
	content:"\e68b"
}

.icon-fire:before{
	content:"\e619"
}

.icon-comment:before{
	content:"\e646"
}

.icon-ui:before{
	content:"\e611"
}

.icon-forbidden:before{
	content:"\e673"
}

.icon-category:before{
	content:"\e648"
}

.icon-custom:before{
	content:"\e697"
}

.icon-date:before{
	content:"\e62e"
}

.icon-notice1:before{
	content:"\e7e2"
}

.icon-category1:before{
	content:"\e91f"
}

.icon-link:before{
	content:"\e6ad"
}

.icon-arrow-right:before{
	content:"\e61a"
}

.icon-arrow-left:before{
	content:"\e61b"
}

.icon-admin:before{
	content:"\e644"
}

.icon-search:before{
	content:"\e614"
}

.icon-notice:before{
	content:"\e60e"
}

.icon-like:before{
	content:"\e68a"
}

.icon-sign:before{
	content:"\e6d2"
}

.icon-undo:before{
	content:"\e65a"
}

.icon-edit:before{
	content:"\e602"
}
