{% extends "base.html" %}
{% load static %}
{% load likes_tags %}



{% block title %}文章{% endblock title %}



{% block header_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/editormd.css' %}">
{% endblock header_extends %}


{% block content %}

<div class="row">
    <div class="col l8 m12 s12">
        <ul id="staggered-test">
            {% for blog in blogs %}
                <li class="card hoverable" style="opacity: 0;">
                    <div class="card-content">
                        <h5><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h5>
                        <p>{{ blog.content|safe|striptags|truncatechars:'120' }}</p>
                    </div>
                    <div class="card-action">
                        <i class="fa fa-tag" aria-hidden="true"></i> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}#banner">{{ blog.blog_type }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ blog.created_time|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </li>
            {% empty %}
                <div class="valign-wrapper">
                    <h5 class="valign">暂无内容，敬请期待。</h5>
                </div>
            {% endfor %}
        </ul>
    </div>
    <!-- <div class="col l8 s12 m12">
        <div class="text-center" id="pagination">
            {{ blog_of_page.render }}
        </div>
        <div class="panel-footer">
            共有{{ blog_of_page.paginator.count }}篇文章。当前第{{ blog_of_page.number }}页，共{{ blog_of_page.paginator.num_pages }}页。
        </div>
    </div> -->
    <div class="col l4 m12 s12">
        <aside id="introduction" class="section scrollspy">
            <div class="card-header"><strong><i class="fa fa-tags" aria-hidden="true"></i> 文章分类</strong></div>
            <ul class="tags-list">
                {% for blog_type in blog_types %}
                    <li class="chip"><a href="{% url 'blogs_with_type' blog_type.pk %}#banner">{{ blog_type.type_name }} ({{ blog_type.blog_count }})</a></li>
                {% empty %}
                    <li>暂无分类。</li>
                {% endfor %}
            </ul>
        </aside>
        <br>
        <aside id="introduction" class="section scrollspy">
            <div class="card-header"><strong><i class="fa fa-calendar" aria-hidden="true"></i> 日期归档<strong></div>
            <ul class="tags-list">
                {% for blog_date, blog_count in blog_dates %}
                    <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}#banner">{{ blog_date|date:'Y年m月' }} ({{ blog_count }})</a></li>
                {% empty %}
                    <li>暂无分类。</li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</div>
{% endblock content %}

{% block script_extends %}
<script type="text/javascript">
    var options = [
        {
            selector: '#staggered-test', offset: 0, callback: function(el) {
                Materialize.showStaggeredList($(el));
            }
        }
    ];
    Materialize.scrollFire(options);
</script>
<script src="https://cdn.bootcss.com/marked/0.5.1/marked.min.js"></script>
<script src="{% static 'js/editormd.min.js' %}"></script>
{% endblock script_extends %}




