{% extends "base.html" %}
{% load static %}
{% load comment_tags %}
{% load likes_tags %}



{% block title %}博文{% endblock title %}
{% block nav_blog_active %}active{% endblock nav_blog_active %}


{% block header_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}">
{% endblock header_extends %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博文列表{% endblock blog_list_title %}</div>
                    <div class="panel-body">
                        <div class="blogs">
                            {% for blog in blogs %}
                                <div class="blog">
                                    <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                    <p class="blog-info">
                                        <i class="fa fa-tag" aria-hidden="true"></i> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ blog.created_time|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;&nbsp;
                                        阅读({{ blog.get_read_num }})&nbsp;&nbsp;&nbsp;&nbsp;
                                        点赞({% get_like_count blog %})&nbsp;&nbsp;&nbsp;&nbsp;
                                        评论({% get_comment_count blog %})
                                    </p>
                                    <p>{{ blog.content|striptags|truncatechars:'120' }}</p>
                                </div>
                            {% empty %}
                                <h3 class="text-center">-- 暂无博文，敬请期待 --</h3>
                            {% endfor %}
                        </div>
                        <div class="text-center" id="pagination">
                            {{ blog_of_page.render }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        共有{{ blog_of_page.paginator.count }}篇博文。当前第{{ blog_of_page.number }}页，共{{ blog_of_page.paginator.num_pages }}页。
                    </div>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <aside class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-tags" aria-hidden="true"></i> 博文分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }} ({{ blog_type.blog_count }})</a></li>
                            {% empty %}
                                <li>暂无分类。</li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
                <aside class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-calendar" aria-hidden="true"></i> 日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:'Y年m月' }} ({{ blog_count }})</a></li>
                            {% empty %}
                                <li>暂无分类。</li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock content %}



