{% extends "blog/blog_list.html" %}


{% block title %}文章分类 - {{ blog_type.type_name }}{% endblock title %}


{% block blog_list_title %}
	分类：{{ blog_type.type_name }}
	<a class="pull-right" href="{% url 'blog_list' %}">查看所有</a>
{% endblock blog_list_title %}


{% block breadcrumb %}
<div class="row" style="margin-bottom: 0;">
<ol class="bread-crumb">
    <li><a href="{% url 'home' %}">首页</a></li>
    <li><a href="{% url 'blog_list' %}">文章归档</a></li>
    <li><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
</ol>
</div>
{% endblock %}

