{% extends "base.html" %}
{% load static %}
{% load likes_tags %}



{% block title %}文章归档 | JiatLn{% endblock title %}



{% block header_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog-list.css' %}">
{% endblock header_extends %}



{% block content %}
{% block breadcrumb %}
<div class="row" style="margin-bottom: 0;">
<ol class="bread-crumb">
    <li><a href="{% url 'home' %}">首页</a></li>
    <li><a href="{% url 'blog_list' %}">文章归档</a></li>
    <li><a href="{% url 'blog_list' %}">所有</a></li>
</ol>
</div>
{% endblock %}
<div class="row">
    <div class="col l12 m12 s12">
        <div class="blog-list">
            <ul>
                {% for blog in blogs %}
                <li class="row">
                    <div class="col l12 m12 s12">
                        <span class="left date">{{ blog.created_time|date:'m-d' }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="title">
                            <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                        </span>
                        <span class="right read-num">{{ blog.get_read_num }}</span>
                    </div>
                </li>
                {% empty %}
                    <div class="row">
                        <span style="margin: 6%; line-height: 500%;">暂无内容，敬请期待。Thanks♪(･ω･)ﾉ</span>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block script_extends %}{% endblock script_extends %}




