{% extends "base.html" %}
{% load static %}
{% load likes_tags %}

{% block title %}{{ blog.title }}{% endblock title %}
{% block nav_blog_active %}active{% endblock nav_blog_active %}


{% block header_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/editormd.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
{% endblock header_extends %}

{% block menu %}
    <a data-activates="mobile-demo" class="menu-btn button-collapse"><i class="fa fa-bars" aria-hidden="true"></i> MENU</a>
    <ul class="side-nav" id="mobile-demo" style="background: #000;">
        <li><a style="color: #fff;" href="{% url 'home' %}">首页</a></li>
        <li><a style="color: #fff;" href="{% url 'blog_list' %}">文章</a></li>
        <li><a style="color: #fff;" href="">留言</a></li>
        <li><a style="color: #fff;" href="{% url 'about' %}">关于</a></li>
        <li><a style="color: #fff;" href="/admin">后台</a></li>
    </ul>
{% endblock %}
{% block banner %}
<div class="banner">
    <h4 class="center-align article-title">{{ blog.title }}</h4>
</div>
{% endblock banner %}


{% block content %}


<ul class="blog-info-desc">
    <li><i class="fa fa-user-o" aria-hidden="true"></i> {{ blog.author }}</li>
    <li><i class="fa fa-tag" aria-hidden="true"></i> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
    <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{ blog.created_time|date:'Y-m-d H:i:s' }}</li>
    <li>阅读({{ blog.get_read_num }})</li>
    <li class="like pull-right" onclick="likeChange(this, '{% get_content_type blog %}', {{ blog.pk }})">
        <i class="fa fa-heart-o {% get_like_status blog %}" aria-hidden="true"></i>
        <span class="like-num">{% get_like_count blog %}</span>
        <span>喜欢</span>
    </li>
</ul>
<!-- <div class="divider"></div> -->
<article class="blog-content">
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="markdown-body">{{ blog.content|safe }}</div>
        </div>
        {% if toc|safe|length > 35 %}
        <div class="col hide-on-small-only m3 l3">
            <br><br>
            {{ toc|safe }}
        </div>
        {% endif %}
    </div>
</article>




<div class="blog-more">
    {% if perivous_blog %}
        <p>上一篇：<a href="{% url 'blog_detail' perivous_blog.pk %}">{{ perivous_blog.title }}</a></p>
    {% else %}
        <p>上一篇：没有了。</p>
    {% endif %}
    {% if next_blog %}
        <p>下一篇：<a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a></p>
    {% else %}
        <p>下一篇：没有了</p>
    {% endif %}
</div>
{% endblock content %}

{% block script_extends %}

<script>
    String.prototype.format = function() {
        var str = this;
        for (var i = 0; i < arguments.length; i++) {
            var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'), arguments[i])
        }
        return str;
    };
    function numFormat(num) {
        return ('00' + num).substr(-2);
    }
    function timeFormat(timestamp) {
        var datetime = new Date(timestamp * 1000);
        var year = datetime.getFullYear();
        var month = datetime.getMonth() + 1;
        var day = datetime.getDate();
        var hour = datetime.getHours();
        var minute = datetime.getMinutes();
        return year + '-' + numFormat(month) + '-' + numFormat(day) + ' ' + numFormat(hour) + ':' + numFormat(minute);
     }
    function likeChange(obj, content_type, object_id) {
        var is_like = obj.getElementsByClassName('active').length == 0;
        // console.log(is_like);
        $.ajax({
            url: "{% url 'like_change' %}",
            type: 'GET',
            data: {
                content_type: content_type,
                object_id: object_id,
                is_like: is_like,
            },
            cache: false,
            success: function(data){
                if(data['status']=='SUCCESS'){
                    // 更新点赞状态
                    var element = $(obj.getElementsByClassName('fa'));
                    if(is_like){
                        element.addClass('active');
                    }else{
                        element.removeClass('active');
                    }
                    // 更新点赞数量
                    var liked_num = $(obj.getElementsByClassName('like-num'));
                    liked_num.text(data['like_num']);
                }else{
                    if (data['code'] == 400) {
                        $('#login-model').modal('show');
                    } else {
                        alert(data['message']);
                    }
                }
            },
            error: function(xhr){
                console.log(xhr);
            }
        });
    } 
</script>

<script src="https://cdn.bootcss.com/marked/0.5.1/marked.min.js"></script>
<script src="{% static 'js/editormd.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.toc').prepend('<span>在这篇文章中：</span>');
    $('.toc').pushpin({
      top: 400,
      bottom: $('.markdown-body').height() + 40,
      offset: 50
    });
  });

</script>
{% endblock script_extends %}
