{% extends "base.html" %}
{% load static %}

{% block title %}登录 - JiatLn's Blog{% endblock title %}


{% block banner %}<br><br><br><br><br><br><br><br>{% endblock banner %}

{% block content %}
<div class="containter">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            {% if not user.is_authenticated %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">用户登录</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in login_form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            </div>
                        {% endfor %}
                        <span class="text-danger pull-left">{{ login_form.non_field_errors }}</span>
                        <div style="clear: both"></div><a class="pull-right" href="">忘记密码？</a>
                        <input class="btn btn-default" type="submit" value="登录">
                    </form>
                </div>
            </div>
            {% else %}
                <span>已登录，跳转到首页...</span>
                <script type="text/javascript">
                    setTimeout("window.location.href = '/'", 2000);
                </script>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}