{% extends "base.html" %}
{% load static %}


{% block title %}关于 - JiatLn's Blog{% endblock title %}



{% block header_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'css/editormd.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock header_extends %}

{% block banner %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col l8 m12 s12">
        <div class="markdown-body card-panel">{{ about.content|safe }}</div>
    </div>
</div>

{% endblock content %}

{% block script_extends %}
<script src="https://cdn.bootcss.com/marked/0.5.1/marked.min.js"></script>
<script src="{% static 'js/editormd.min.js' %}"></script>
{% endblock script_extends %}




