{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" sizes="128x128" href="{% static 'favicon.ico' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block header_extends %}{% endblock header_extends %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<canvas id="canvas"></canvas>
<main>
    {% block menu %}
    <div class="container">
        <div class="section">
            <nav style="background: url({% static 'images/bg.jpg' %}) center center / cover no-repeat rgb(34, 34, 34); overflow: hidden;">
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo" style="margin-left: 2%;">OEW</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'home' %}">首页</a></li>
                        <li><a href="{% url 'blog_list' %}#banner">文章</a></li>
                        <li><a href="" onclick="alert('施工中..x.x')">留言</a></li>
                        <li><a href="{% url 'about' %}">关于</a></li>
                        <li><a href="/admin"><i class="material-icons">dashboard</i>后台</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'home' %}">首页</a></li>
                        <li><a href="{% url 'blog_list' %}#banner">文章</a></li>
                        <li><a href="" onclick="alert('施工中..x.x')">留言</a></li>
                        <li><a href="{% url 'about' %}">关于</a></li>
                        <li><a href="/admin"><i class="material-icons">dashboard</i>后台</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% endblock %}
    {% block banner %}
    <div class="container">
        <div class="row" id="banner">
            <div class="col m9 s12">
                <h2 class="header center-on-small-only blue-text text-lighten-3" style="margin: 4% 0 0 4%;">JiatLn</h2>
                <h5 class="light center-on-small-only" style="margin: 4% 0 0 4%; color: #26a69a;">O ever youthful, O ever weeping.</h5>
            </div>
            <div class="col m3" style="margin-top: 20px;">
                <p class="hide-on-small-only blue-text">永远年轻，永远热泪盈眶。</p>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    {% endblock %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
{% block footer %}
<footer class="container">
    <div class="divider"></div>
    <ul class="right">
        <li class="left" style="margin-left: 8%; color: rgba(40,40,40,.4);">&copy; JiatLn 2018.</li>
        <li class="left" style="margin-left: 8%;"><a href="https://github.com/JiatLn/mysite" target="_blank"><i class="fa fa-github" style="color: #ee6e73"></i></a></li>
        <!-- <li class="left" style="margin-left: 8%;"><a href="https://www.zhihu.com/people/lin-jia-tao-75" target="_blank">ZhiHu</a></li> -->
        <li class="left" style="margin-left: 8%;"><a href="mailto:lne128gene980@163.com" target="_blank"><i class="fa fa-envelope" style="color: #ee6e73"></i></a></li>
    </ul>
</footer>
<div id="toTop" class="hidden">
    <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</div>
{% endblock footer %}
     
</body>
<script type="text/javascript">
    $(".button-collapse").sideNav();

    $(document).ready(function(){
      $('.parallax').parallax();
    });

</script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% block script_extends %}{% endblock script_extends %}
</html>