{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" sizes="128x128" href="{% static 'favicon.ico' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yuaoicon.css' %}">
    <script src="{% static 'js/base.js' %}"></script>

    {% block header_extends %}{% endblock header_extends %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<!-- <canvas id="canvas" class="hide-on-small-only"></canvas> -->
<main>
    {% block menu %}
    <div class="container">
        <div class="section">
            <nav>
                <div class="nav-wrapper">
                    <a href="//oew.ink" class="brand-logo" style="margin-left: 2%;">OEW</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'home' %}">首页</a></li>
                        <li><a href="{% url 'blog_list' %}">归档</a></li>
                        <li><a href="{% url 'message' %}">留言</a></li>
                        <li><a href="{% url 'about' %}">关于</a></li>
                        <li><a href="/admin">后台</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{% url 'home' %}">首页</a></li>
                        <li><a href="{% url 'blog_list' %}">归档</a></li>
                        <li><a href="{% url 'message' %}">留言</a></li>
                        <li><a href="{% url 'about' %}">关于</a></li>
                        <li><a href="/admin">后台</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% endblock %}
    {% block banner %}
    <div class="container">
        <div class="row" id="banner">
            <canvas id="paopao"></canvas>
            <div class="col m9 s12">
                <h2 class="header center-on-small-only" style="margin: 50px 0 40px 16px;">JiatLn</h2>
                <span id="hitokoto" class="light center-on-small-only" style="margin: 20px 0 -20px 10px;">
                    O ever youthful, O ever weeping.
                </span>
            </div>
            <div class="col m3 s12" style="margin-top: 30px; text-align: center;">
                <span>永远年轻，永远热泪盈眶。</span>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    {% endblock %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
{% block footer %}
<footer>
    <footer-background>
        <figure class="clouds"></figure>
		<figure class="background"></figure>
		<figure class="foreground"></figure>
    </footer-background>
    <ul class="right">
        <li class="left" style="margin-left: 3%; color: rgba(40,40,40,.5);">&copy; JiatLn 2018. All Rights Reserved.</li>
        <li class="left" style="margin-left: 4%;"><a href="https://github.com/JiatLn/mysite" target="_blank"><i class="fa fa-github" style="color: #ee6e73"></i></a></li>
        <!-- <li class="left" style="margin-left: 4%;"><a href="https://www.zhihu.com/people/lin-jia-tao-75" target="_blank">ZhiHu</a></li> -->
        <li class="left" style="margin-left: 4%;"><a href="mailto:lne128gene980@163.com" target="_blank"><i class="fa fa-envelope" style="color: #ee6e73"></i></a></li>
    </ul>
</footer>
<div id="toTop" class="hidden">
    <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</div>
<!--live2d-->
<script src="{% static 'js/live2d/L2Dwidget.min.js' %}"></script>
<script type="text/javascript">
  L2Dwidget.init({
    model: {
      jsonPath: "{% static 'js/live2d/tororo/assets/tororo.model.json' %}",
    },
    display: {
      superSample: 2,
      width: 100,
      height: 100,
      position: 'right',
      hOffset: 80,
      vOffset: 10,
    },
    mobile: {
      show: true,
      scale: 1,
      motion: true,
    },
    react: {
      opacityDefault: 0.8,
      opacityOnHover: 0.2,
    }
  })
</script>
{% endblock footer %}
</body>
<script>
    $(".button-collapse").sideNav();

    $(document).ready(function(){
      $('.parallax').parallax();
    });
    // canvas
    $(document).ready(function(){
      var can_width = $('#banner').width();
      var can_height = $('#banner').height();
      $('#paopao').width(can_width)
      $('#paopao').height(can_height)
    });
</script>
<!-- 新 API 方法， 十分简洁 -->
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
{% block script_extends %}{% endblock script_extends %}
</html>
