{% extends "base.html" %}
{% load static %}
{% block title %}JiatLn | 人定胜天{% endblock title %}





{% block header_extends %}
    {# https://www.hcharts.cn/docs/start-helloworld #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <!-- <script src="https://img.hcharts.cn/highcharts/themes/avocado.js"></script> -->
{% endblock header_extends %}


{% block content %}
<div class="row">
    <div class="col s12 m12 l5 ">
        <br><div id="mychart"></div>
    </div>
    <div class="col s12 m6 l4 offset-l0">
        <aside>  
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#test1">近期文章</a></li>
                <li class="tab col s3"><a href="#test2">公众号</a></li>
                <li class="tab col s3"><a href="#test3">待定..</a></li>
            </ul>
            <div class="tab-content">
                <div id="test1" class="col s12">
                    {% for blog in recent_blogs %}
                        <p><span class="tri"></span><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></p>
                    {% endfor%}
                </div>
                <div id="test2" class="col">
                    <img width="180" style="text-align: center;" src="{% static 'images/qrcode.jpg' %}">
                </div>
                <div id="test3" class="col">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </aside>
    </div>
    <div class="col s12 m6 l3 offset-l0">
        <div class="about-web">
            <br><img src="{% static 'images/head.jpg' %}">
            <div class="divider" style="margin: 4% 10%;"></div>
            <ul style="margin: 8% 10%;" NAME="up">
                <li><strong>JiatLn</strong>の个人博客</li>
                <li>已上线<div class="clock" style="display: inline-block;"></div></li>
                <li><span>人生苦短，我用Python 3.</span></li>
                <li><a href="mailto:lne128gene980@163.com">lne128gene980@163.com</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script_extends %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.carousel').carousel();
        });
    </script>
    <script type="text/javascript">
        // 图表配置
        var options = {
            chart: {
                "borderRadius": 5,
                "type": "line",
                "marginBottom": 70,
                "borderWidth": 0,
                "marginTop": 50,
                "margin": 30
            },
            title: { text: null },
            xAxis: {
                categories: {{ read_date|safe }},
                tickmarkPlacement: 'on',
                title: { text: '近7天的访问量' },
            },
            yAxis: {
                title: { text: null },
                labels: { enabled: false },
                gridLineDashStyle: 'solid',
            },
            series: [{                              // 数据列
                name: '访问量',                        // 数据列名
                data: {{ read_count }},                     // 数据
                showInLegend: false,
                color: 'pink'
            }],
            credits: { enabled: false },
            plotOptions: {
                line: {
                    dataLabels: { enabled: true, color: '#26a69a' }
                }
            }
        };
        // 图表初始化函数
        var chart = Highcharts.chart('mychart', options);
    </script>
{% endblock script_extends %}