{% extends "base.html" %}
{% load static %}
{% block title %}JiatLn | 个人博客{% endblock title %}





{% block header_extends %}
    {# https://www.hcharts.cn/docs/start-helloworld #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog-list.css' %}"> -->
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <!-- <script src="https://img.hcharts.cn/highcharts/themes/avocado.js"></script> -->
{% endblock header_extends %}


{% block content %}
<br>
<div class="row" style="margin-bottom: 0;">
    <div class="col s12 m12 l5 ">
        <div id="mychart"></div>
    </div>
    <div class="col s12 m6 l4 offset-l0">
        <div class="the-tab">  
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#test1">近期文章</a></li>
                <li class="tab col s3"><a href="#test2">公众号</a></li>
                <!-- <li class="tab col s3"><a href="#test3">待定..</a></li> -->
            </ul>
            <div class="tab-content">
                <div id="test1" class="col s12">
                    {% for blog in recent_blogs %}
                        <p><span class="tri"></span><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></p>
                    {% endfor%}
                </div>
                <div id="test2" class="col">
                    <img width="180" src="{% static 'images/qrcode.jpg' %}">
                </div>
                <!-- <div id="test3" class="col">
                    敬请期待。
                </div> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col s12 m5 l3 offset-m1">
        <div class="about-web">
            <br><img src="{% static 'images/head.jpg' %}">
            <div class="divider" style="margin: 4% 10%;"></div>
            <ul style="margin: 8% 10%;" NAME="up">
                <li><strong>JiatLn</strong>の个人博客</li>
                <li>已上线<div class="clock" style="display: inline-block;"></div></li>
                <li><span>人生苦短，我用Python 3.</span></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i>  <a href="mailto:lne128gene980@163.com">写信给我</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l9 m12 s12">
        <!-- 文章列表 -->
        <ul class="blog-list">
            {% for blog in blogs %}
            <li class="row">
                <div class="col l5 m12 s12">
                    <div class="title">
                        <i class="fa fa-chevron-right grey-text" aria-hidden="true"></i> <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                    </div>
                    <div class="desc">
                        <i class="fa fa-tag grey-text" aria-hidden="true"></i> <a href="{% url 'blogs_with_type' blog.blog_type.pk %}" style="color: #ffab40;">{{ blog.blog_type }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-clock-o grey-text" aria-hidden="true"></i> {{ blog.created_time|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;&nbsp;
                    阅读({{ blog.get_read_num }})
                    </div>
                </div>
                <div class="col l7 m12 s12">
                    <div class="content">
                        {{ blog.content|safe|striptags|truncatechars:'90' }}
                    </div>
                </div>
            </li>
            <!-- <div class="divider" style="margin: 0 4%;"></div> -->
            {% empty %}
                <div class="row">
                    <span style="margin: 6%; line-height: 500%;">暂无内容，敬请期待。Thanks♪(･ω･)ﾉ</span>
                </div>
            {% endfor %}
        </ul>
        <!-- 分页 -->
        <ul class="pagination">
            <li class=""><a href="?{{ blog_of_page.previous_page_number.querystring }}" {% if not blog_of_page.has_previous %}class="btn-flat disabled"{% endif %}><i class="material-icons">chevron_left</i></a></li>
            {% for page in blog_of_page.pages %}
                {% if page %}
                    {% ifequal page blog_of_page.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            <li class="waves-effect"><a href="?{{ blog_of_page.next_page_number.querystring }}" {% if not blog_of_page.has_next %}class="btn-flat disabled"{% endif %}><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
    <div class="col l3 m6 s12">
        <div class="aside">
            <div class="aside-title"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> 日期归档</div>
            <div class="collection">
                {% for blog_date, blog_count in blog_dates %}
                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}" class="collection-item"><span class="badge">{{ blog_count }}</span>{{ blog_date|date:'Y年m月' }}</a>
                {% empty %}
                    <li>暂无分类。</li>
                {% endfor %}
            </div>
        </div>
        <div class="aside">
            <div class="aside-title"><i class="fa fa-tags" aria-hidden="true"></i> 文章分类</div>
            <ul class="tags-list">
                {% for blog_type in blog_types %}
                    <li class="chip"><a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                {% empty %}
                    <li>暂无分类。</li>
                {% endfor %}
            </ul>
        </div>
        <div class="aside">
            <div class="aside-title"><i class="fa fa-link" aria-hidden="true"></i> 友情链接</div>
            <div class="collection">
                <a href="#!" class="collection-item">虚位以待</a>
                <a href="#!" class="collection-item">虚位以待</a>
                <a href="#!" class="collection-item">虚位以待</a>
                <a href="#!" class="collection-item">虚位以待</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script_extends %}
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/clock.js' %}"></script>
    <script>
        $(document).ready(function(){
          $('.carousel').carousel();
        });
    </script>
    <script>
        // 图表配置
        var options = {
            chart: {
                "borderRadius": 5,
                "type": "line",
                "marginBottom": 70,
                "borderWidth": 0,
                "marginTop": 50,
                "margin": 30
            },
            title: { text: null },
            xAxis: {
                categories: {{ read_date|safe }},
                tickmarkPlacement: 'on',
                title: { text: '近7天的访问量' },
            },
            yAxis: {
                title: { text: null },
                labels: { enabled: false },
                gridLineDashStyle: 'solid',
            },
            series: [{                              // 数据列
                name: '访问量',                        // 数据列名
                data: {{ read_count }},                     // 数据
                showInLegend: false,
                color: 'pink'
            }],
            credits: { enabled: false },
            plotOptions: {
                line: {
                    dataLabels: { enabled: true, color: '#26a69a' }
                }
            }
        };
        // 图表初始化函数
        var chart = Highcharts.chart('mychart', options);
    </script>
{% endblock script_extends %}