{% extends "base.html" %}
{% load static %}
{% load email_tags %}


{% block title %}留言板1.0 | JiatLn{% endblock title %}



{% block header_extends %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<script src="{% static 'js/timeline.js' %}"></script>
<!-- <script src="{% static 'js/html5webpiano.js' %}"></script> -->
{% endblock header_extends %}

{% block banner %}{% endblock banner %}

{% block content %}

{% block breadcrumb %}
<div class="row" style="margin-bottom: 0;">
<ol class="bread-crumb">
    <li><a href="{% url 'home' %}">首页</a></li>
    <li><a href="{% url 'message' %}">留言板</a></li>
</ol>
</div>
{% endblock %}

<div>
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;
    <a href="#i-want-ly">我要留言</a>&nbsp;&nbsp;
    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
</div>

<br><br>
<!-- <div>
<p>bdddsda sssasg aaanan bsssdnb fffdfa sssasg aaanan dssaa</p>
<p>aasddd dsamhg ghjqdd qjqjdg ghqgh hgfgdsa nadssasgas</p>
<p>aasddsd dsaggdg ghjqqqq qjhjhdg ghqgh hgfgdsa nadssasana</p>
<iframe class="hide-on-small-only" frameborder=0 width=100% height=480px scrolling=no src="http://kaysonli.github.io/piano/dist/"></iframe>
</div> -->

<div class="row">
    <div class="col l8 m12 s12 offset-l0">
        <section class="comments">
            {% for msg in messages %}
            {% if msg.is_public and msg.content %}
            <article class="comment">
                <a class="comment-img" href="#non">
                    <img src="{{ msg.email|gravatar }}" alt="" width="50" height="50">
                </a>
                <div class="comment-body">
                    <div class="text">
                        <p>{{ msg.content }}</p>
                    </div>
                    <p class="attribution">by <a href="#non">{{ msg.nickname }}</a> @ {{ msg.created_time|date:"Y/m/d H:s" }}</p>
                </div><br>
            </article>
            {% endif %}
            {% endfor %}
        </section>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="row">
    <div class="col l6 m12 s12 offset-l3">
        <h6 id="i-want-ly">智慧如你，请留下的你足迹。</h6>
        <div class="row">
            <form class="col s12" method="post" name="{% url 'message' %}">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" name="nickname">
                        <label for="icon_prefix">昵称</label>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_email" type="email" class="validate" name="email">
                        <label for="icon_email">邮箱</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea" length="144" name="content"></textarea>
                        <label for="icon_prefix2">写下的你想说的话...</label>
                    </div>
                </div>
                <input class="btn waves-effect waves-light right" type="submit" value="留言" onsubmit="alert('留言成功')">
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

{% block script_extends %}{% endblock script_extends %}




